<%layout("/layouts/boilerplate") %>


<div class="show">

    <div class="image"><img src="<%=world.image %>" alt=""></div>

    <div class="content">
<h3><%= world.tittle%></h3>
<p class="date"><%=world.date%></p>
<p><%=world.content%></p>

    </div>



</div>