<%layout("/layouts/boilerplate") %>



<div class="home">

    <% for(i of market) {%>

        <a class='anchor' href="/market/<%=i.id%>" >

            <div class="card">

                <div class="image"><img src="<%=i.image %>" alt="image"></div>
                <div class="tittle">
                    <h3><%= i.tittle %></h3>
                </div>
                
                </div>

        </a>

       

    <%}%>



</div>
