<%layout("/layouts/boilerplate") %>


<div class="show">

    <div class="image"><img src="<%=market.image %>" alt=""></div>

    <div class="content">
<h3><%= market.tittle%></h3>
<p class="date"><%=market.date%></p>
<p><%=market.content%></p>

    </div>



</div>