<footer>


<h3>Taza-Khabar bring you the latest breaking news from around the world </h3>

<p>1.Display of Latest News: The homepage should show the most recent and trending news articles across various categories (e.g., World News, Local News, Sports, Politics, Entertainment, etc.). Users can scroll through or click on article headlines to read more.</p>
<p>2.News Categories: Categories are often listed on the homepage or in a menu, allowing users to easily navigate to specific topics they are interested in.</p>

<div class="social">

    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-brands fa-linkedin"></i>

</div>


</footer>