<div class="sidebar">
    <div class="menubar">
        <h1>MENU</h1>
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="links">
        <a href="/sport"> <h5>SPORTS</h5></a>
        <a href="/market"> <h5>MARKET</h5></a>
        <a href="/goverment">      <h5>GOVERMENT</h5></a>
        <a href="/world">  
            <h5>WORLD</h5></a>
        <a href="">    <h5>VIDEOS</h5></a>
       

    
    </div>

<div class="sidebar-user">

    <button class="signup">signup</button>
    <button class="login">login</button>

</div>


</div>



<div class=" nav ">
   

<div class="logo">
    <img src="https://play-lh.googleusercontent.com/QvXiFN9mhFegApQ83VvVAheG6G-blzEDbJhaKgsEzLNoEb0G-v9K6aE77fn-w4hN3Q" alt="logo">
</div>

<div class="link">
    <a href="/news">Home</a>
    <a href="/sport">Sports</a>
    <a href="/market">Market</a>
    <a href="/goverment">Goverment</a>
    <a href="/world">World</a>
    <a href="">Video</a>
</div>

<div class="user">

    <button class="signup">signup</button>

    <button class="login">login</button>
    

</div>

<div class="menu">
    <i class="fa-solid fa-bars"></i>
</div>

</div>


