.index{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px ;
    padding-bottom: 50px;
    width:100%;

}

.index .video-card{
    height:500px;
    width:400px;
    border-radius:20px ;
    border:1px solid rgba(0, 0, 0, 0.395);
    box-shadow: 0 0 5px black;
    transition: 0.5s;
    cursor: pointer;

}
 .index .video-card .video{
    height:300px;
    width:100%;
    
}
.image .video-card .video video{
    width:100%;
    height:300px;
  
}