
.form{
   
     width:60%;
     margin: auto;
     background-color: bisque;
     height:60vh;
     margin-bottom: 10vh;
     margin-top:10vh ;
     padding:0  10%;
     
     
}
.form  .form-content{
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    height:60vh;
}

.form form input{
    height:60px;
}
.form form textarea{
    height:90px;
}