*{
    margin: 0;
    padding: 0;
}

.nav{
    height:10vh;
    width:100%;
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", serif;
   border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 5px black;

}
.nav .logo img{
    height:9.5vh;
    width:100px;
    margin-left:1vw ;
}

.link{

    display: flex;
    gap:5vw;
    font-family: "Roboto", serif;
    font-size: 20px;

}
.link a{
    text-decoration: none !important;
    color: black;
}
.link a i{
    font-size: 15px;
}
.user{
 
    display: flex;
    gap:2vw;
    margin-right: 1vw;
    font-size: 20px;
    font-family: "Roboto", serif;
}
.user a{
    text-decoration: none !important;
    color: black;
}