<%layout("/layouts/boilerplate") %>



<div class="index">

    <% for(i of video) {%>

        <a class='anchor' href="" >

            <div class="video-card">

                <div class="video"><video src="<%=i.video %>" controls autoplay loop muted></video></div>
                <div class="tittle">
                    <h3><%= i.tittle %></h3>
                </div>
                
                </div>

        </a>

       

    <%}%>



</div>
