<%layout("/layouts/boilerplate") %>


<div class="show">

    <div class="image"><img src="<%=goverment.image %>" alt=""></div>

    <div class="content">
<h3><%= goverment.tittle%></h3>
<p class="date"><%=goverment.date%></p>
<p><%=goverment.content%></p>

    </div>



</div>