<%layout("/layouts/boilerplate") %>


<div class="show">

    <div class="image"><img src="<%=sport.image %>" alt=""></div>

    <div class="content">
<h3><%= sport.tittle%></h3>
<p class="date"><%=sport.date%></p>
<p><%=sport.content%></p>

    </div>



</div>