<%layout("/layouts/boilerplate") %>

<div class="home">

    <% for(i of news) {%>

        <div class="card">

            <div class="image"><img src="<%=i.image %>" alt="image"></div>
            <div class="tittle">
                <h3><%= i.tittle %></h3>
            </div>
            
            </div>

    <%}%>



</div>


