<%layout("/layouts/boilerplate") %>

<div class="form">

    <form action="">

        <div>

                  
        </div>

        <div>
            <label for="tittle">Tittle</label>
            <input class="form-control" type="text" id="tittle" name="tittle" placeholder="enter tittle">
        </div>
        
        <div>
            <label for="image">Image</label>
            <input class="form-control" type="text" id="image" name="image" placeholder="enter image link">
        </div>

        <div>
            <label for="content">Content</label>
            <textarea class="form-control" type="text" id="content" name="content" placeholder="enter content"></textarea>
        </div>
        

        </div>

      
        </form>

</div>