<%layout("/layouts/boilerplate") %>

<div class="form">

    <form action="">


        <div>
            <label for="tittle">Tittle</label>
            <input class="form-control" type="text" id="tittle" name="tittle" placeholder="enter tittle">
        </div>
        
        
        </form>

</div>