<%layout("/layouts/boilerplate") %>

<div class="form">

    <form action="/news" method="post">

        <div class="form-content">

        <div>
            <label for="tittle" class="form-label">Tittle</label>
            <input class='form-control' type="text" id="tittle" name="tittle" placeholder="enter tittle">
        </div>
        <div>
            <label for="image" class="form-label">Image</label>
            <input class='form-control' class='image' type="text" id="image" name="image" placeholder="enter image">
        </div>
        <div>
            <label for="content" class="form-label">Content</label>
            <textarea class='form-control' type="text" id="content" name="content" placeholder="enter tittle"></textarea>
        </div>

        <div></div>
        
        <button>Submit</button>

        </div>

        </form>

    </div>

